/* 设置页面字体和背景 */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

/* 设置标题样式 */
h1 {
	text-align: center;
	padding: 10px 0;
	color: #332;
}

/* 设置导航栏的样式 */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
nav a {
	display: block;
	padding: 50px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover {
	background-color: #333;
	color: white;
}

/* 定义博客封面样式 */
.hero-image {
	background-image: url('your-image.jpg');
	height: 1400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 60px;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	padding: 30px;
	border-radius: 10px;
}
.hero-text h2 {
	font-size: 50px;
	margin: 0;
}
.hero-text p {
	font-size: 20px;
}
.hero-text button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

/* 定义博客文章样式 */
main {
	width: 80%;
	margin: 0 auto;
}
article {
	margin-bottom: 50px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
article h2 {
	font-size: 25px;
	margin: 0 0 10px 0;
}
article p {
	font-size: 18px;
	line-height: 1.4;
}
article a {
	color: #333;
	text-decoration: none;
}
article a:hover {
	color: #666;
}
article:nth-of-type(even) {
	background-color: #f2f2f2;
}
/* 定义页脚样式 */
footer {
	background-color: #333;
	color: #fff;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center
}
